{{ partial "header.html" . }}

{{ partial "single-header.html" . }}

<h2>Skills</h2>
<button class="cv" onclick="window.open('/CV.pdf')"><a class="cv-text">Resume/CV</a></button>
<h3>Programming Languages</h3>
<ul>
    <li>Java - Advanced</li>
    <li>TypeScript - Advacned</li>
    <li>JavaScript - Advanced</li>
    <li>Python - Advanced</li>
    <li>HTML - Medium</li>
    <li>CSS - Medium</li>
    <li>Bash - Medium</li>
    <li>C - Beginner</li>
    <li>Kotlin - Beginner</li>
</ul>
<h3>Tools</h3>
<ul>
    <li>Cloud: Vercel, Netlify</li>
    <li>Database: MongoDB, SQL</li>
    <li>Java: Gradle, Maven</li>
    <li>JavaScript: React, Next.js, Express, Electron, Chart.js, Socket.io</li>
    <li>Git</li>
    <li>Linux: Arch Linux, Ubuntu, Debian</li>
</ul>
<hr />
<h2>Grades</h2>
<h3>GCSE</h3>
<ul>
    <li>Maths: 9</li>
    <li>Computer Science: 9</li>
    <li>Phyiscs: 9</li>
    <li>Further Maths: A</li>
    <li>Chemistry: 8</li>
    <li>Geography: 8</li>
    <li>History: 8</li>
    <li>Design Technology: 7</li>
    <li>Biology: 7</li>
    <li>English Literature: 6</li>
    <li>Biology: C</li>
</ul>
<hr />
<figure style="width:600px;height:450px;"><embed src="https://wakatime.com/share/@night0721/bc29da84-e5c3-41cc-a4bf-25d9562a9bfc.svg"></embed></figure>
<hr />
<h1>About this website</h1>
<p>This website is written with only HTML, CSS and JS as I want to maximise the performance of the website but without the bloated JavaScript from modern frameworks.</p>
<p>I wanted to use the website as a special place for my imagination, writing without the restriction from social media. The posts here will be mostly about programming and Linux</p>
<p>The creation of the website is highly inspirated by <a href="https://bugswriter.com/">bugswriter</a> and <a href="https://ericmurphy.xyz/">Eric Murphy</a>, all credits go to them.</p>

{{ partial "footer.html" . }}

